.fondo-footer {
    background-color: white;
}

.footer {
    margin-top: 2rem;

    .footer__previo {
        text-align: center;
        margin: 2rem;
        display: none;

        p {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }

    .footer__previo__visible {
        display: block;
    }

    .footer__contenedor {
        container: footer-contenedor / inline-size;
        height: 100%;

        .footer__logo {
            text-align: left;
        }
        
        .footer__enlaces {
            
            a {
                text-decoration: none;
                margin: 0 1rem;
            }
        }

        .footer__social {
            display: flex;
            justify-content: end;
            gap: 1.5rem;

            a {
               text-decoration: none;
            }
        }
        
        @container footer-contenedor (max-width: 768px) {
            flex-direction: column;    

            .footer__logo {
                text-align: center;
            }

            .footer__social {
                justify-content: center;
            }
        }
    }
}
