.index__fondo {
    background-color: #eee;
}

.poster {
    margin: 2rem 0;

    .poster__titulo {
        text-align: center;
    }

    .poster__imagenprincipal {
        display: block;
        width: 100%;
        height: auto;
        margin: 0.2rem 0;

        .imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .poster__lugar {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 0.2rem 0;

        .imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .poster__cuando {
        text-align: center;
    }

    .poster__concursoprevio {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0.2rem 0;
        object-fit: cover;

        .imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .poster__trabajando {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 0.2rem 0;

        .imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .poster__presentacion {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 0.2rem 0;

        .imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: $mqMinWidth-poster) {
        .poster__concursoprevio {
            width: calc(50% - 0.4rem);
        }

        .poster__lugar {
            width: calc(50% - 0.4rem);
        }

        .poster__trabajando {
            width: calc(50% - 0.4rem);
        }

        .poster__presentacion {
            width: calc(50% - 0.4rem);
        }
    }
}

@supports (display: grid) {

    @media (min-width: $mqMinWidth-poster) {

        .poster {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: 1fr 3fr 1fr;
            width: 100%;
            gap: 0.2rem;
        }

        .poster__titulo {
            grid-column: 2/2;
            grid-row: 1/1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .poster__imagenprincipal {
            width: 100%;
            grid-column: 1/4;
            grid-row: 2/2;
            object-fit: cover;
        }

        .poster__lugar {
            width: 100%;
            grid-column: 1/1;
            grid-row: 1/1;

        }

        .poster__cuando {
            grid-column: 2/2;
            grid-row: 3/3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .poster__concursoprevio {
            width: 100%;
            grid-column: 3/3;
            grid-row: 1/1;
        }

        .poster__trabajando {
            width: 100%;
            grid-column: 1/1;
            grid-row: 3/3;
        }

        .poster__presentacion {
            width: 100%;
            grid-column: 3/3;
            grid-row: 3/3;
        }
    }
}