<div class="container-fluid fondo-footer">
    <div class="container">
        <footer class="footer">
            <div class="footer__previo {{ inscribete }}">
                <p>
                    Te animamos a participar en el concurso. Tenemos 'jugosos premios' para los campeones. Puedes inscribirte
                    <a href="/src/formulario.html">aquí</a>.
                </p>
            </div>
            <hr class="footer__separador">
            <div class="footer__contenedor">
                <div class="footer__logo">
                    <a href="/src/index.html">
                        <img src="./assets/images/logo.svg" height="50" alt="logo concurso de cocina Boadilla">
                    </a>
                </div>
                <div class="footer__enlaces">
                    <a href="/src/participantes.html">Participantes</a>
                    <a href="/src/articulo.html">Artículo</a>
                    <a href="/src/formulario.html">Formulario</a>
                </div>
                <div class="footer__social">
                    <a href="#">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
